#root {
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 8px 10px;
}

.header__title {
    margin: 0;
    font-size: 1rem;
}

.filters {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 8px 10px;
}

.filters__selects,
.filters__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-content {
    height: 0;
    flex: 1 1 auto;
    overflow: auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 10%, 300px), 1fr));
    gap: 10px;
    padding: 0 10px 10px;
}

.details-container {
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.filters__separator {
    width: 1px;
    height: 28px;
    background-color: var(--border-color, #ddd);
    align-self: stretch;
}

@media (max-width: 600px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .filters__separator {
        display: none;
    }
}
