.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 8px;
}

.header__title {
    margin: 0;
    font-size: 1rem;
}

.filters {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 8px;
}

.filters__selects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.filters__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-content {
    height: 0;
    flex: 1 1 auto;
    overflow: auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 10%, 300px), 1fr));
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.list__item {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list__item_loading {
    cursor: default;
    min-height: 250px;
    background-color: var(--skeleton-color);
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

@media (max-width: 600px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
    .filters__selects {
        justify-content: space-between;
    }
}